.tree {
  background-color: #efefef;
  padding: 10px;
  font-family: monospace;
  display: flex;
  flex-direction: column-reverse;
  height: auto;
}

.tree .indent{
  padding-inline-start: 38px;
  margin-bottom: 1em ;
  display: flex;
  flex-direction: column-reverse;
}
